{% extends 'catloads_web/index.html' %}
 
{% block header %}
{% endblock %}
{% block content %}
<style>


.loader2 {
  width: 60px;
  aspect-ratio: 1;
  border: 15px solid #ddd;
  border-radius: 50%;
  /* position: relative; */
  position: fixed;
  top:50%;
  left: 50%;
  transform: rotate(45deg);
}
.loader2::before {
  content: "";
  position: fixed;
  top:50%;
  left: 50%;
  inset: -15px;
  border-radius: 50%;
  border: 15px solid #514b82;
  animation: l18 2s infinite linear;
}
@keyframes l18 {
    0%   {clip-path:polygon(50% 50%,0 0,0    0,0    0   ,0    0   ,0    0   )}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0   ,100% 0   ,100% 0   )}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    0   )}
}
</style>
 <div class="loader2" style="display: none;"></div> 
	<div class="page-content bg-light">
		<!--Banner Start-->
		<div class="dz-bnr-inr d-none d-md-block"  style="background-color:rgb(184, 102, 207);">
			<div class="container" id="cco" style="height: 20px;">
				<div class="dz-bnr-inr-entry">
					<h1>My Account</h1>
					<nav aria-label="breadcrumb" class="breadcrumb-row">
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'catloads_web:dashboard' %}"> Home</a></li>
							<li class="breadcrumb-item">My Downloads</li>
						</ul>
					</nav>
				</div>
			</div>	
		</div>
		<!--Banner End-->
		<div class="mob_block d-block d-md-none" style="background-color:rgb(184, 102, 207);">
			<div class="dz-bnr-inr-entry">
				<nav aria-label="breadcrumb" class="breadcrumb-row"style="display: flex; justify-content: center;">
					<ul class="breadcrumb pt-2">
						<li class="breadcrumb-item"><a href="{% url 'catloads_web:dashboard' %}"> Home</a></li>
						<li class="breadcrumb-item">My Downloads</li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- inner page banner End-->
		<div class="content-inner-1">
			<div class="container-md">
				<div class="row dashboard-wrapper">
					<div class="col-lg-3">
						<div class="dz-tabs style-2 nav-full">
							<ul class="nav nav-pills">
								<li class="nav-item"><a class="nav-link btn btn-primary" href="{% url 'catloads_web:product_dashboard' %}">Dashboard</a></li>
								<li class="nav-item"><a class="nav-link btn btn-primary" href="{% url 'catloads_web:orders' %}">Orders</a></li>
								<li class="nav-item"><a class="nav-link btn btn-primary active" href="{% url 'catloads_web:downloads' %}">Downloads</a></li>

								<li class="nav-item"><a class="nav-link btn btn-primary" href="{% url 'catloads_web:edit_account' %}">Account details</a></li>
								<li class="nav-item"><a class="nav-link btn btn-primary" href="{% url 'catloads_web:privacy_policy' %}">Privacy Policy</a></li>
								<li class="nav-item"><a class="nav-link btn btn-primary" href="{% url 'catloads_web:customer_contact' %}">Contact Us</a></li>
								<li class="nav-item"><a class="nav-link btn btn-primary" href="{% url 'catloads_web:logout' %}">Log out</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="card-container">
							<div class="alert alert-primary" role="alert">
								<h4>Disclaimer : Read it Before Downloading</h4>
								<p>Downloaded items are ZIP files. If you're using an older Android phone, you may need an "unzipper" app. Each download has a five-download limit. Products are for personal or professional use only, not resale or online sharing. Each product includes an information guide. If you don't receive your product after payment, contact us at support@catloads.com with your order number. You can find your order number in your Dashboard under "Orders". Enjoy your purchase!
								</p>
								<p>NB: Downloadable file will be a zip file
								</p>
							  </div>
							<div class="table-responsive my-account-content">
								<table class="table check-tbl style-1 table-responsive">
									<thead>
									<tr>
										<th>Item ID</th>
										<th>Name</th>
										<!-- <th>Validity</th> -->
										<th>Size</th>
										<th class="text-end">Actions</th>
									</tr>
									</thead>
									<tbody>
										{% for product in products %}
										<tr>
											<td class="product-item-name text-primary">{{product.product.product_code}}</td>
											<td class="product-item-date">{{product.product.name}}</td>
											<!-- <td class="product-item-price">March 21, 2024</td> -->
											<td class="product-item-Status">{{product.product.product_size}} {{product.product.get_unit_display}}</td>

											<td class="product-item-totle"><a class="btn btn-sm btn-secondary download_btn" data-url="{{product.product.download_link}}">Download</button></td>
										</tr>
										{% endfor %}
					
									</tbody>

								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="display:none;" id="iframeContainer"></div>
		
	</div>
	{% endblock %}
	{% block footer %}
	<script>
		$(document).ready(function() {
			$('.download_btn').click(function() {
				$('.loader2').show()
				var iframe = $('<iframe>', {
					src: $(this).data('url'),
					id: 'hiddenDownloader',
					css: {
						display: 'none'
					},
					
				})
				iframe.appendTo('#iframeContainer'); // Append the iframe to a container
			// that is hidden by default
			setTimeout(function() {
            $('.loader2').hide();  // Hide loading indicator after a set time
            console.log("Assuming file download has started or failed.");
        }, 2000); 

		
				// Optional: Remove the iframe after some time to clean up
				setTimeout(function() {
					iframe.remove();
					console.log("Iframe removed after timeout.");
				}, 60000); // Remove after 60 seconds
			});
		});
		</script>
	{% endblock %}