{% extends 'catloads_web/index.html' %}
 
{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}
	<!-- Header End -->
	
	<div class="page-content bg-light">
		<section class="px-3">
			<div class="row">
				
				<div class="col-xxl-12 col-xl-12 col-lg-12 end-side-content justify-content-center">
					<div class="login-area">
						<h2 class="text-secondary text-center">Reset Password</h2>
						<p class="text-center m-b30"></p>
						<form method="post" id="passwordForm">
							{% csrf_token %}
							<div class="m-b25">
								<label class="label-title">Enter New Password</label>
								<input type="password" id="newPassword" name="new_password" class="form-control" placeholder="" required>
                                {% if validation %}
                			<div class="alert alert-danger m-1">{{ validation }}</div>
							</div>
                            {% endif %}
                            <div class="m-b25 mt-2" id="msg_div">
								<label class="label-title">Confirm Password</label>
								<input type="password" id="confirmPassword" name="confirm_password" class="form-control" placeholder="" required>
                                {% if validation %}
                			<div id="message" class="alert alert-danger m-1">{{ validation }}</div>
							</div>
                            {% endif %}
							
							
							<div class="text-center mt-4">
								<button type="submit"  class="btn btn-secondary btnhover text-uppercase me-2">Confirm</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- <script>
		document.addEventListener("DOMContentLoaded", function() {
		const urlParams = new URLSearchParams(window.location.search);
	
		// Get the value of the 'redirect' parameter
		const redirect = urlParams.get('redirect');	
	
		// Use the 'redirect' parameter (if it exists)
		if (redirect) {
		   registerbtn =  document.getElementById('sign_inbtn')
		   let currentHref = registerbtn.getAttribute('href');
		   registerbtn.setAttribute('href', `${currentHref}?redirect=${encodeURIComponent(redirect)}`);
			// You can now use this 'redirect' value to manage your redirects or other logic
		} 
	});
	</script> -->
{% endblock %}
{% block footer %}
<script>
    $(document).ready(function() {
        $("#passwordForm").on("submit", function(e) {
            var newPassword = $("#newPassword").val();
            var confirmPassword = $("#confirmPassword").val();

            if (newPassword != confirmPassword) {
                e.preventDefault(); // Prevent form submission to see the message
                $('#msg_div').append('<div id="message" class="alert alert-danger m-1">Passwords do not match.</div>')
            }
        });
    });
</script>
{% endblock %}









