{% load static %}
{% load custom_filter %}
<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Title -->
	<title>Catloads</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="Catloads">
	<meta name="robots" content="index, follow">
	<meta name="keywords" content="Catloads , learning ,Study Material, Digital Files, Teaching , School">    	
	<meta name="description" content="Catloads- Passionate About Empowering You At Catloads, we're a small, driven team fueled by a love for learning and a desire to make a difference. ">
	<meta property="og:title" content="Catloads - Express Yourself Perfectly">
	<meta property="og:description" content="Catloads- Passionate About Empowering You At Catloads, we're a small, driven team fueled by a love for learning and a desire to make a difference. ">
	<meta property="og:image" content="">
	<meta name="format-detection" content="telephone=no">
	<meta name="twitter:title" content="Catloads">
	<meta name="twitter:description" content="Catloads- Passionate About Empowering You At Catloads, we're a small, driven team fueled by a love for learning and a desire to make a difference. ">
	<meta name="twitter:image" content="">
	<meta name="twitter:card" content="summary_large_image">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<!-- FAVICONS ICON -->
	<link rel="icon" type="image/x-icon" href="{% static 'web/images/favicon.ico' %}">
	
	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- STYLESHEETS -->
	
	<link rel="stylesheet" type="text/css" href="{% static 'web/icons/iconly/index.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/vendor/magnific-popup/magnific-popup.min.css' %}">	
	<link rel="stylesheet" type="text/css" href="{% static 'web/vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/vendor/swiper/swiper-bundle.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/vendor/nouislider/nouislider.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/vendor/animate/animate.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'web/vendor/lightgallery/dist/css/lightgallery.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'web/vendor/lightgallery/dist/css/lg-thumbnail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/lightgallery/dist/css/lg-zoom.css' %}">
	
	<!-- Custom Stylesheet -->
	<link class="main-css" rel="stylesheet" type="text/css" href="{% static 'web/css/style.css' %}">
	<link class="skin" type="text/css" rel="stylesheet" href="{% static 'web/css/skin/skin-1.css' %}">
	
	<!-- GOOGLE FONTS-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
	<link href="../css2?family=DM+Sans:wght@400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
	<style>
		.dz-bnr-inr .container{
			height: 20px !important;
		}
	
	.styuuu a{
		color: rgb(241, 116, 116);
		text-decoration: underline;
		text-underline-offset:3px
	}
	.styuuu a:hover{
		color: rgb(225, 21, 10);
		text-decoration: underline;
		text-underline-offset:3px
	}
	</style>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-V6VGQKT8MH"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-V6VGQKT8MH');
	</script>
	<!-- Meta Pixel Code -->
<script>
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window, document,'script',
	'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '525136436717782');
	fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=525136436717782&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Meta Pixel Code -->
		{% block header %}
		{% endblock %}
</head>	
<body id="bg">

<div class="page-wraper" id="scroll-container">

<div id="loading-area" class="preloader-wrapper-1">
	<div class="loader">
		<div class="load-circle">
			<div class="circle-2">
				<img src="{% static 'web/images/catloads.png' %}" alt="/">
			</div>
		</div>
	</div>
</div>	

	<!-- Header Star -->
	<header class="site-header mo-left header style-1 bg-secondary" style="background-color: white;">
		<!-- Main Header -->
		<div class="sticky-header main-bar-wraper navbar-expand-lg">
			<div class="main-bar clearfix" style="background-color:  rgb(195, 236, 236);">
				<div class="container-fluid clearfix d-lg-flex d-block"
					style="background-color: white;">
					<!-- Website Logo -->
					<div class="logo-header logo-dark me-md-5">
						<a href="{% url 'catloads_web:dashboard' %}"><img src="{% static 'web/images/catloads.png' %}" alt="logo"></a>
					</div>

					<!-- Nav Toggle Button -->

					<button class="navbar-toggler collapsed navicon justify-content-end" type="button"
						data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
						aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>

					<!-- Main Nav -->
					<div class="header-nav navbar-collapse collapse justify-content-start" id="navbarNavDropdown">
						<div class="logo-header logo-dark">
							<a href="{% url 'catloads_web:dashboard' %}"><img src="{% static 'web/images/catloads.png' %}" alt=""></a>
						</div>
						<ul class="nav navbar-nav">
							<li class="has-mega-menu sub-menu-down">
								<a href="{% url 'catloads_web:dashboard' %}"><span>Home</span><i
										class="fas fa-chevron-down tabindex"></i></a>

							</li>
							<li class="has-mega-menu sub-menu-down d-block d-md-none">
								<a href="{% url 'catloads_web:product_dashboard' %}"><span>Dashboard</span><i
										class="fas fa-chevron-right tabindex"></i></a>

							</li>
							<!-- <li class="has-mega-menu sub-menu-down"><a
									href="javascript:void(0);"><span>Privacy Policy</span><i
										class="fas fa-chevron-down tabindex"></i></a>

							</li>

							<li class="has-mega-menu sub-menu-down"><a
									href="javascript:void(0);"><span>Conatct</span><i
										class="fas fa-chevron-down tabindex"></i></a>

							</li> -->
						</ul>

						<div class="dz-social-icon">
							<ul>
								<li><a class="fab fa-facebook-f" target="_blank"
										href="https://www.facebook.com/Catloads"></a></li>
								<li><a class="fab fa-twitter" target="_blank"
										href="https://twitter.com/Catloadss"></a></li>
								<li><a class="fab fa-linkedin-in" target="_blank"
										href="https://www.linkedin.com/showcase/3686700/admin/"></a></li>
								<li><a class="fab fa-instagram" target="_blank"
										href="https://www.instagram.com/Catloads/"></a></li>
							</ul>
						</div>
					</div>
					<!-- EXTRA NAV -->
					<div class="extra-nav">
						<div class="extra-cell">
							<ul class="header-right">
								<li class="nav-item login-link">
									{% if request.user.is_authenticated %}
									
									<a class="nav-link" href="{% url 'catloads_web:logout' %}">
										Logout
									</a>
{% else %}
									<a class="nav-link" href="{% url 'catloads_web:login' %}">
										Login / Register
									</a>
									{% endif %}
								</li>
								<li class="nav-item search-link">
									<a class="nav-link" href="javascript:void(0);" data-bs-toggle="offcanvas"
										data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
										<i class="iconly-Light-Search"></i>
									</a>
								</li>
								
								<!-- <li class="nav-item wishlist-link">
									<a class="nav-link" href="javascript:void(0);" data-bs-toggle="offcanvas"
										data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
										<i class="iconly-Light-Heart2"></i>
									</a>
								</li> -->
								<li class="nav-item cart-link">
									<a href="{% url 'catloads_web:carts' %}" class="nav-link cart-btn"
									>
										<i class="iconly-Broken-Buy"></i>
										<span class="badge badge-circle" id="cartcount"></span>
									</a>
								</li>
								
								<li class="nav-item cart-link">
									<a href="{% url 'catloads_web:product_dashboard' %}" class="nav-link cart-btn">
										<svg id="Profile" width="24" height="24" viewBox="0 0 24 24" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd"
												d="M11.8445 21.6619C8.15273 21.6619 5 21.0874 5 18.7867C5 16.4859 8.13273 14.3619 11.8445 14.3619C15.5364 14.3619 18.6891 16.4653 18.6891 18.7661C18.6891 21.0659 15.5564 21.6619 11.8445 21.6619Z"
												stroke="black" stroke-width="1.5" stroke-linecap="round"
												stroke-linejoin="round" />
											<path fill-rule="evenodd" clip-rule="evenodd"
												d="M11.8372 11.1737C14.26 11.1737 16.2236 9.21002 16.2236 6.7873C16.2236 4.36457 14.26 2.40002 11.8372 2.40002C9.41452 2.40002 7.44998 4.36457 7.44998 6.7873C7.4418 9.20184 9.3918 11.1655 11.8063 11.1737C11.8172 11.1737 11.8272 11.1737 11.8372 11.1737Z"
												stroke="black" stroke-width="1.5" stroke-linecap="round"
												stroke-linejoin="round" />
										</svg>

									</a>
								</li>
								<script>
									console.log("{{ request.session.country_data.ip }}","{{ request.session.country_data.symbol }}")
								</script>
								<li class="nav-item cart-link"></li>
									<a  class="nav-link cart-btn"
									>
										 <span id="currency_symbol" data-symbol="{{ request.session.country_data.symbol }}" class="mt-1">{{ request.session.country_data.country_code }}</span>
									</a>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Header End -->


		<!-- SearchBar -->
		<div class="dz-search-area dz-offcanvas offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop">
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
				&times;
			</button>
			<div class="container">
				<form class="header-item-search">
					<div class="input-group search-input">
						
						<input type="search" id="serach_input" data-url="{% url 'catloads_web:productsearch' %}" class="form-control" placeholder="Search Product">
						<button class="btn" type="button">
							<i class="iconly-Light-Search"></i>
						</button>
					</div>
					<div class="searchdiv">
						
				</div>
			
				</form>
				 
			</div>
		</div>
		<!-- SearchBar -->

		<!-- Sidebar cart -->
	
		<!-- Sidebar cart -->

		<!-- Sidebar finter -->
		
		<!-- filter sidebar -->

	</header>
	<!-- Header End -->
	{% block content %}
	<div class="page-content bg-light" >
		
		<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
			  {% for banner in banners %}
			  <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
				  {% if banner.image %}
				<img src="{{ banner.image.url }}" class="d-block w-100" alt="...">
				{% endif %}
			  </div>
			  {% endfor %}
		  
			  
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			  <span class="visually-hidden">Next</span>
			</button>
		  </div>
		

		
		<!-- Products  Section Start-->
		<section class="content-inner">
			<div class="container">
				<div class=" row justify-content-md-between align-items-start">
					<div class="col-lg-6 col-md-12">
						<div class="section-head style-1 m-b30  wow fadeInUp" data-wow-delay="0.2s">
							<div class="left-content">
								<h2 class="title">Most popular products</h2>
							</div>
						</div>	
					</div>
					<div class="col-lg-6 col-md-12">
						
					</div>
				</div>
				<style>
				
				</style>
				<div class="clearfix">
					<ul id="masonry" class="row g-xl-4 g-3">
						{% for product in products_sale %}
						<li class="card-container col-6 col-xl-3 col-lg-3 col-md-4 col-sm-6 Tops wow fadeInUp"
							data-wow-delay="0.6s">
							<div class="shop-card">
								
								<div class="dz-media">
									
									<img src="{{product.thumbnail.url}}" height="500px" alt="image">
							
									<div class="shop-meta" data-url="{% url 'catloads_web:product_detail' product.slug %}">
										<a href="{% url 'catloads_web:product_detail' product.slug %}" class="btn btn-secondary btn-md btn-rounded">
											<i class="fa-solid fa-eye d-md-none d-block"></i>
											<span class="d-md-block d-none"> View</span>
										</a>
										<div class="btn btn-primary meta-icon dz-wishicon">
											<i class="icon feather icon-heart dz-heart"></i>
											<i class="icon feather icon-heart-on dz-heart-fill"></i>
										</div>
										<div class="btn btn-primary meta-icon dz-carticon">
											<i class="flaticon flaticon-basket"></i>
											<i class="flaticon flaticon-basket-on dz-heart-fill"></i>
										</div>
									</div>
								</div>
								<div class="dz-content">
									<h5 class="title"><a href="{% url 'catloads_web:product_detail' product.slug %}">{{product.name}}</a></h5>
									<h5 class="price"> {{product.get_price_and_discount.symbol }}{{product.get_price_and_discount.price | round_amount }}</h5>
								</div>
								<div class="product-tag">
									<span class="badge ">Get {{ product.get_discount_percentage }}% Off</span>
								</div>
							</div>
						</li>
						{% endfor %}

					</ul>
				</div>
			</div>
		</section>
		
		
	</div>
	{% endblock %}
	
	<!-- Footer -->
	<footer class="site-footer style-1">
	
		<!-- Footer Top End -->
		
		<!-- Footer Bottom -->
		<div class="footer-bottom">
			<div class="container">
				<div class="row fb-inner wow fadeInUp" data-wow-delay="0.1s">
						
					<div class="col-lg-4 col-md-12 text-start">
						<p class="copyright-text mt-2">© <span class="current-year">2024</span> <a style="color: #9d38bd !important;" href="">Catloads</a>
							All Rights Reserved.</p>
					</div>
					<div class="col-lg-4 col-md-12 text-end">
						<div
							class="d-flex align-items-center justify-content-center justify-content-md-center justify-content-xl-end">
							<span class="me-3">We Accept: </span>
							<!-- <img src="{% static 'web/images/footer-img.png' %}" alt=""> -->
							 <div class="div5" style="display: flex;">
								<img src="{% static 'web/images/master-card-icon.png' %}" alt="" style="height: 40px;width: 40px;">
								<img src="{% static 'web/images/rupay-logo-icon.png' %}" alt="" style="height: 40px;width: 40px;">
								<img src="{% static 'web/images/visa-icon.png' %}" alt="" style="height: 40px;width: 40px;padding-left: 2px;">
								<img src="{% static 'web/images/upi-icon.png' %}" alt="" style="height: 40px;width: 40px;">
								<img src="{% static 'web/images/paypal.png' %}" alt="" style="height: 38px;width: 35px;padding-left: 1px;padding-top: 3px;">
								<img src="{% static 'web/images/google-pay-acceptance-mark-icon.png' %}" alt="" style="height: 40px;width: 40px;padding-left: 3px;">
								

							 </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer Bottom End -->
	</footer>
	<!-- Footer End -->

	<div class="scroltop-progress2"></div>
	<button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>
	
	<!-- Quick Modal Start -->
		
	<!-- Quick Modal End -->
	
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script>
	document.addEventListener('DOMContentLoaded', function() {
		{% if request.session.cartstatus %}
		localStorage.removeItem('catloads_cartdata');
		{% endif %}
	});
</script>
<script src="{% static 'web/js/jquery.min.js' %}"></script><!-- JQUERY MIN JS -->
	<script src="{% static 'web/vendor/wow/wow.min.js' %}"></script><!-- WOW JS -->
	<script src="{% static 'web/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script><!-- BOOTSTRAP MIN JS -->
	<script src="{% static 'web/vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
	<!-- BOOTSTRAP SELECT MIN JS -->
	<script src="{% static 'web/vendor/bootstrap-touchspin/bootstrap-touchspin.js' %}"></script>
	<!-- BOOTSTRAP TOUCHSPIN JS -->
	<script src="{% static 'web/vendor/counter/waypoints-min.js' %}"></script><!-- WAYPOINTS JS -->
	<script src="{% static 'web/vendor/counter/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
	<script src="{% static 'web/vendor/swiper/swiper-bundle.min.js' %}"></script><!-- SWIPER JS -->
	<script src="{% static 'web/vendor/magnific-popup/magnific-popup.js' %}"></script><!-- MAGNIFIC POPUP JS -->
	<script src="{% static 'web/vendor/imagesloaded/imagesloaded.js' %}"></script><!-- IMAGESLOADED-->
	<script src="{% static 'web/vendor/masonry/masonry-4.2.2.js' %}"></script><!-- MASONRY -->
	<script src="{% static 'web/vendor/masonry/isotope.pkgd.min.js' %}"></script><!-- ISOTOPE -->
	<script src="{% static 'web/vendor/countdown/jquery.countdown.js' %}"></script><!-- COUNTDOWN FUCTIONS  -->
	<script src="{% static 'web/vendor/wnumb/wNumb.js' %}"></script><!-- WNUMB -->
	<script src="{% static 'web/vendor/nouislider/nouislider.min.js' %}"></script><!-- NOUSLIDER MIN JS-->
	<script src="{% static 'web/js/dz.carousel.js' %}"></script><!-- DZ CAROUSEL JS -->
	<script src="{% static 'web/vendor/lightgallery/dist/lightgallery.min.js' %}"></script>
	<script src="{% static 'web/vendor/lightgallery/dist/plugins/thumbnail/lg-thumbnail.min.js' %}"></script>
	<script src="{% static 'web/vendor/lightgallery/dist/plugins/zoom/lg-zoom.min.js' %}"></script>
	<script src="{% static 'web/js/dz.ajax.js' %}"></script><!-- AJAX -->
	<script src="{% static 'web/js/custom.js' %}"></script><!-- CUSTOM JS -->
	<script src="{% static 'web/js/myjs.js' %}"></script><!-- CUSTOM JS -->
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			   function removeBOMCharacter() {
				   var bodyHTML = document.body.innerHTML;
   
				   var cleanedHTML = bodyHTML.replace(/^\uFEFF/, '')
				   document.body.innerHTML = cleanedHTML;
			   }
			   removeBOMCharacter();
			   
		   });
   </script>
	
	{% block footer %}
	
	{% endblock %}
</body>
</html>