{% extends 'catloads_web/index.html' %}
 
{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}
	<!-- Header End -->
	
	<div class="page-content bg-light">
		<section class="px-3">
			<div class="row">
				
				<div class="col-xxl-12 col-xl-12 col-lg-12 end-side-content justify-content-center">
					<div class="login-area">
						<h2 class="text-secondary text-center">Registration Now</h2>
						<p class="text-center m-b30">Welcome please registration to your account</p>
						<form method="post" id="registration-form">
							{% csrf_token %}
							<div class="m-b25">
								<label class="label-title">Name</label>
								{{form.name}}
								{% if form.name.errors %}
                			<div class="alert alert-danger m-1">{{ form.name.errors.as_text }}</div>
                					{% endif %}
							</div>
							<div class="m-b25">
								<label class="label-title">Email Address</label>
								{{form.email}}
								{% if form.email.errors %}
								<div class="alert alert-danger m-1">{{ form.email.errors.as_text }}</div>
								{% endif %}
							</div>
							<div class="m-b25">
								<label class="label-title">Password</label>
								{{form.password}}
								
								{% if form.password.errors %}
								<div class="alert alert-danger m-1">{{ form.password.errors.as_text }}</div>
								{% endif %}

							</div>
							
							
							<div class="text-center">
								<button type="submit"  class="btn btn-secondary btnhover text-uppercase me-2">Register</button>
								{% load socialaccount %}
								<a href="{% url 'google_login' %}"  class="btn btn-outline-secondary btnhover text-uppercase m-2"> <i class="fa fa-google me-2"></i> Sign Up with Google &nbsp; &nbsp;</a>
								<a href="{% url 'catloads_web:login' %}" id="sign_inbtn" class="btn btn-outline-secondary btnhover text-uppercase">Sign In</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
		const urlParams = new URLSearchParams(window.location.search);
	
		// Get the value of the 'redirect' parameter
		const redirect = urlParams.get('redirect');	
	
		// Use the 'redirect' parameter (if it exists)
		if (redirect) {
		   registerbtn =  document.getElementById('sign_inbtn')
		   let currentHref = registerbtn.getAttribute('href');
		   registerbtn.setAttribute('href', `${currentHref}?redirect=${encodeURIComponent(redirect)}`);
			// You can now use this 'redirect' value to manage your redirects or other logic
		} 
	});
	</script>
{% endblock %}
{% block footer %}
{% endblock %}









