{% extends 'catloads_admin/index.html' %}

{% block header %}
{% endblock %}

{% block nav %}
<div class="center">
    <div class="center-item">
        <div class="center-heading"> Home</div>
        <ul class="menu-list">
            <li class="menu-item">
                <a href="{% url 'catloadsadmin:dashboard' %}" class="menu-item-button">
                    <div class="icon"><i class="icon-grid"></i></div>
                    <div class="text">Dashboard</div>
                </a>
            </li>
        </ul>
    </div>
    <div class="center-item">
        <div class="center-heading">All Menu</div>
        <ul class="menu-list">
            <li class="menu-item has-children">
                <a href="javascript:void(0);" class="menu-item-button">
                    <div class="icon"><i class="icon-shopping-cart"></i></div>
                    <div class="text">Products</div>
                </a>
                <ul class="sub-menu">
                    <li class="sub-menu-item" >
                        <a href="{% url 'catloadsadmin:product_create' %}" class="">
                            <div class="text">Add Product</div>
                        </a>
                    </li>
                    <li class="sub-menu-item">
                        <a href="{% url 'catloadsadmin:product_list' %}" class="">
                            <div class="text">Product List</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item has-children">
                <a href="javascript:void(0);" class="menu-item-button">
                    <div class="icon"><i class="icon-shopping-bag"></i></div>
                    <div class="text">Sale</div>
                </a>
                <ul class="sub-menu" >
                    <li class="sub-menu-item">
                        <a href="{% url 'catloadsadmin:sale_create' %}" class="">
                            <div class="text">Add Sale</div>
                        </a>
                    </li>
                    <li class="sub-menu-item">
                        <a href="{% url 'catloadsadmin:sale_list' %}" class="">
                            <div class="text">Sale List</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item has-children">
                <a href="javascript:void(0);" class="menu-item-button">
                    <div class="icon"><i class="icon-layers"></i></div>
                    <div class="text">Category</div>
                </a>
                <ul class="sub-menu">
                    <li class="sub-menu-item">
                        <a href="{% url 'catloadsadmin:category_list' %}" class="">
                            <div class="text">Category list</div>
                        </a>
                    </li>
                    <li class="sub-menu-item">
                        <a href="{% url 'catloadsadmin:category_create' %}" class="">
                            <div class="text">New category</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item has-children">
                <a href="javascript:void(0);" class="menu-item-button">
                    <div class="icon"><i class="icon-box"></i></div>
                    <div class="text">Promo Code</div>
                </a>
                <ul class="sub-menu">
                    <li class="sub-menu-item">
                        <a href="{% url 'catloadsadmin:promocode_list' %}" class="">
                            <div class="text">Promo Codes</div>
                        </a>
                    </li>
                    <li class="sub-menu-item">
                        <a href="{% url 'catloadsadmin:promocode_create' %}" class="">
                            <div class="text">Add Promo Code</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item has-children" >
                <a href="javascript:void(0);" class="menu-item-button">
                    <div class="icon"><i class="icon-file-plus"></i></div>
                    <div class="text">Order</div>
                </a>
                <ul class="sub-menu">
                    <li class="sub-menu-item">
                        <a href="{% url 'catloadsadmin:orderlist' %}" class="">
                            <div class="text">Order list</div>
                        </a>
                    </li>
                   
                   
                </ul>
            </li>
            <li class="menu-item has-children active">
                <a href="javascript:void(0);" class="menu-item-button">
                    <div class="icon"><i class="icon-user"></i></div>
                    <div class="text">User</div>
                </a>
                <ul class="sub-menu">
                    <li class="sub-menu-item">
                        <a href="{% url 'catloadsadmin:userlist' %}" class="active">
                            <div class="text">All user</div>
                        </a>
                    </li>
                
                </ul>
            </li>

            <li class="menu-item has-children">
                <a href="javascript:void(0);" class="menu-item-button">
                    <div class="icon"><i class="icon-image"></i></div>
                    <div class="text">Banner</div>
                </a>
                <ul class="sub-menu">
                    <li class="sub-menu-item">
                        <a href="{% url 'catloadsadmin:banner_create' %}" class="">
                            <div class="text">Banner Create</div>
                        </a>
                    </li>
                    <li class="sub-menu-item">
                        <a href="{% url 'catloadsadmin:bannerlist' %}" class="">
                            <div class="text">All Banners</div>
                        </a>
                    </li>
                    <li class="menu-item has-children">
                        <a href="javascript:void(0);" class="menu-item-button">
                            <div class="icon"><i class="icon-image"></i></div>
                            <div class="text">Country</div>
                        </a>
                        <ul class="sub-menu">
                            <li class="sub-menu-item">
                                <a href="{% url 'catloadsadmin:country_create' %}" class="">
                                    <div class="text">Country Create</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a href="{% url 'catloadsadmin:country_list' %}" class="">
                                    <div class="text">All Countries</div>
                                </a>
                            </li>
                        
                        </ul>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>
   
</div>
{% endblock %}

{% block main %}

<div class="main-content-inner">
    <!-- main-content-wrap -->
    <div class="main-content-wrap">
        <div class="flex items-center flex-wrap justify-between gap20 mb-27">
            <h3>All Users</h3>
            <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                <li>
                    <a href="{% url 'catloadsadmin:dashboard' %}"><div class="text-tiny">Dashboard</div></a>
                </li>
                <li>
                    <i class="icon-chevron-right"></i>
                </li>
                <li>
                    <a href="#"><div class="text-tiny">Users</div></a>
                </li>
                <li>
                    <i class="icon-chevron-right"></i>
                </li>
                <li>
                    <div class="text-tiny">All Users</div>
                </li>
            </ul>
        </div>
        <!-- all-category -->
        <div class="wg-box">
            <div class="flex items-center justify-between gap10 flex-wrap">
                <div class="wg-filter flex-grow">
                    <div class="show">
                        <div class="text-tiny">Showing</div>
                        <div class="select">
                            <select class="">
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                            </select>
                        </div>
                        <div class="text-tiny">entries</div>
                    </div>
                    <form class="form-search">
                        <fieldset class="name">
                            <input type="text" placeholder="Search here..." class="" name="name" tabindex="2" value="" aria-required="true" required="">
                        </fieldset>
                        <fieldset class="name">
                            <div class="body-title mb-10">Product date</div>
                            <div class="select">
                                <input type="date" id="dateInput" name="date" >
                            </div>
                        </fieldset>
                    </form>
                </div>
                <a class="tf-button style-1 w208" href="{% url 'catloadsadmin:export_user' %}"><i class="icon-file-text"></i>Export all Users</a>

            </div>
            <div class="wg-table table-all-category">
                <ul class="table-title flex gap20 mb-14">
                    <li>
                        <div class="body-title">User</div>
                    </li>    
                    <li>
                        <div class="body-title">Phone</div>
                    </li>
                    <li>
                        <div class="body-title">Email</div>
                    </li>
                    <li>
                        <div class="body-title">City</div>
                    </li>
    
                    <li>
                        <div class="body-title">Action</div>
                    </li>
                </ul>
                <ul class="flex flex-column">
                    {% for user in users %}
                    <li class="product-item gap14">
                        <div class="image no-bg">
                            <!-- <img src="images/products/51.png" alt=""> -->
                        </div>
                        <div class="flex items-center justify-between gap20 flex-grow">
                            <div class="name">
                                <a class="body-title-2">{{user.name}}</a>
                            </div>
                            <div class="body-text">{{user.phone}}</div>
                            <div class="body-text">{{user.email}}</div>
                            <div class="body-text">{{user.city}}</div>
                            <!-- <div class="body-text">20 Nov 2023</div> -->
                            <div class="list-icon-function">
                                <!-- <div class="item eye">
                                    <i class="icon-eye"></i>
                                </div> -->
                                <!-- <div class="item edit">
                                    <i class="icon-edit-3"></i>
                                </div> -->
                                <div class="item trash">
                                    <a style="text-decoration: none !important;" onclick="return confirm('Are you Sure..?')" href="{% url 'catloadsadmin:user_delete' user.id %}"> <i style="color: red;" class="icon-trash-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="divider"></div>
            <div class="flex items-center justify-between flex-wrap gap10">
                <div class="text-tiny">Showing 10 entries</div>
                <ul class="wg-pagination">
                    <li>
                        {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}"><i class="icon-chevron-left"></i></a>
                    </li>
                        {% endif %}

                    <li class="active">
                        <a href="#">{{page_obj.number}}</a>
                    </li>
                    <li>
                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}"><i class="icon-chevron-right"></i></a>
                        {% endif %}
                    </li>   
                </ul>
            </div>
        </div>
        <!-- /all-category -->
    </div>
    <!-- /main-content-wrap -->
</div>

{% endblock %}

{% block footer %}
{% endblock %}  